body {
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif; 
    background-color: whitesmoke;
    

}
h1 {
    text-align: center; 
    text-decoration: underline;
    font-family: "Times New Roman", Times, serif;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 45px

}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    border-radius: 8px;
  }
/* unvisited link */
a:link {
    text-decoration: none;
    color: blue;
  }
  
  /* visited link */
  a:visited {
    color:darkmagenta;
  }
  
  /* mouse over link */
  a:hover {
    text-decoration: underline;
    color: red;
  }
  

ul li {
    list-style-type: circle;
    margin: 10px;

}
h3 {
    text-decoration: underline;
    font-family: "Times New Roman", Times, serif;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 35px
}
  